ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .element {
    margin-left: 30px;
    padding-left: 30px;
    width: 300px;
    min-height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
  }